.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra i figli lungo l'asse trasversale (orizzontale) */
    justify-content: center; /* Centra i figli lungo l'asse principale (verticale) */
    height: 100vh;
  }
  
  .imageWrapper {
    width: 100%; /* Larghezza completa dello schermo */
    height: 50vh; /* Metà dell'altezza dello schermo */
  }
  
  .textBlock {
    position: absolute;
    text-align: bottom;
    margin: 10px;
    flex-grow: 0;
  }
  
  .button {
    align-self: center;
    margin-bottom: 20px;
    background-image: "/public/grafiche/Export/04-RichiamoGiocatori/RG-Sfoglia.svg"; /* Assicurati che il percorso sia corretto */
    /* Altre proprietà del pulsante se necessario */
  }
  